.Hoverable:after, .HoverableButton:after, .HoverableBlock:after, .Trending .ETF:after, .Trending .ETFActive:after, .Trending .CryptocurrencyActive:after, .Trending .Cryptocurrency:after, .Trending .Equity:after, .Trending .EquityActive:after, .Trending .Title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.Hoverable:before, .HoverableButton:before, .HoverableBlock:before, .Trending .ETF:before, .Trending .ETFActive:before, .Trending .CryptocurrencyActive:before, .Trending .Cryptocurrency:before, .Trending .Equity:before, .Trending .EquityActive:before, .Trending .Title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #402060;
  transition: all 0.3s;
  z-index: -1;
}
.Hoverable:hover, .HoverableButton:hover, .HoverableBlock:hover, .Trending .ETF:hover, .Trending .ETFActive:hover, .Trending .CryptocurrencyActive:hover, .Trending .Cryptocurrency:hover, .Trending .Equity:hover, .Trending .EquityActive:hover, .Trending .Title:hover {
  color: #fff;
  background-color: #402060;
}
.Hoverable:hover:before, .HoverableButton:hover:before, .HoverableBlock:hover:before, .Trending .ETF:hover:before, .Trending .ETFActive:hover:before, .Trending .CryptocurrencyActive:hover:before, .Trending .Cryptocurrency:hover:before, .Trending .Equity:hover:before, .Trending .EquityActive:hover:before, .Trending .Title:hover:before {
  width: 100%;
}

.Block, .Button, .HoverableButton, .HoverableBlock, .Trending .ETF, .Trending .ETFActive, .Trending .CryptocurrencyActive, .Trending .Cryptocurrency, .Trending .Equity, .Trending .EquityActive, .Trending .Title {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  margin-top: 1em;
  margin-bottom: 1em;
  transform: rotate(-8deg) skew(-8deg, -8deg) translateY(-0.85rem);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: fit-content;
  white-space: nowrap;
  border: 0;
  color: #000;
  font-family: "Doppio One", sans-serif;
  background-color: white;
  cursor: default;
}

.Button, .HoverableButton {
  cursor: pointer;
}

.HoverableButton:hover {
  color: inherit;
}
.HoverableButton:hover:before {
  width: inherit;
}
.HoverableButton:hover:enabled {
  color: #fff;
}
.HoverableButton:hover:enabled:before {
  width: 100%;
}
.HoverableButton:disabled {
  color: black;
  cursor: default;
}
.HoverableButton:disabled:after {
  background-color: grey;
}

.Trending .Equity:before, .Trending .EquityActive:before {
  background-color: #F2A413;
  width: 10px;
}
.Trending .Equity:after, .Trending .EquityActive:after {
  background-color: #F2A413;
  width: 10px;
}
.Trending .Equity:hover:after, .Trending .EquityActive:hover:after {
  background-color: #F2A413;
  transition-delay: 3s;
}
.Trending .EquityActive {
  background-color: #F2A413;
}
.Trending .EquityActive:before {
  background-color: #F2A413;
  width: 100%;
}
.Trending .EquityActive:after {
  background-color: #F2A413;
  width: 100%;
}
.Trending .Cryptocurrency:before {
  background-color: #722C73;
  width: 10px;
}
.Trending .Cryptocurrency:after {
  background-color: #722C73;
  width: 10px;
}
.Trending .Cryptocurrency:hover:after {
  background-color: #722C73;
  transition-delay: 3s;
}
.Trending .CryptocurrencyActive {
  background-color: #722C73;
}
.Trending .CryptocurrencyActive:before {
  background-color: #722C73;
  width: 100%;
}
.Trending .CryptocurrencyActive:after {
  background-color: #722C73;
  width: 100%;
}
.Trending .ETF:before, .Trending .ETFActive:before {
  background-color: #A6261B;
  width: 10px;
}
.Trending .ETF:after, .Trending .ETFActive:after {
  background-color: #A6261B;
  width: 10px;
}
.Trending .ETF:hover:after, .Trending .ETFActive:hover:after {
  background-color: #A6261B;
  transition-delay: 3s;
}
.Trending .ETFActive {
  background-color: #A6261B;
}
.Trending .ETFActive:before {
  background-color: #A6261B;
  width: 100%;
}
.Trending .ETFActive:after {
  background-color: #A6261B;
  width: 100%;
}
.Trending .Quotes {
  margin-top: 50px;
}

/*# sourceMappingURL=Trending.module.css.map */
