@import "../global.module";

.TrendingQuote {
  margin: 0.25em auto;
  display: inline-flex;
  justify-content: space-between;

  .Element {
    @extend .HoverableButton;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: $bold;
      transition: all .3s;
      z-index: -1;
    }

    &:hover {
      color: #fff;

      &:after {
        background-color: $bold;
      }

      &:before {
        width: 100%;
      }

    }
  }
}
