@import "../global.module";

.Trending {

  .Title {
    @extend .Block;

  }

  .Buttons {
    margin-top: 50px;

    .Button {
      @extend .Block;
      @extend .Hoverable;
    }

    .Active {
      @extend .Block;
      @extend .Hoverable;

      background-color: orange;

      &:before {
        background-color: darkorange;
      }
    }
  }

  .Quotes {
    margin-top: 50px;
  }
}
