.Hoverable:after, .HoverableButton:after, .HoverableBlock:after, .Index:after, .IndexActive:after, .Future:after, .FutureActive:after, .ETF:after, .ETFActive:after, .CryptocurrencyActive:after, .Cryptocurrency:after, .Equity:after, .EquityActive:after, .Trending .Title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.Hoverable:before, .HoverableButton:before, .HoverableBlock:before, .Index:before, .IndexActive:before, .Future:before, .FutureActive:before, .ETF:before, .ETFActive:before, .CryptocurrencyActive:before, .Cryptocurrency:before, .Equity:before, .EquityActive:before, .Trending .Title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #402060;
  transition: all 0.3s;
  z-index: -1;
}
.Hoverable:hover, .HoverableButton:hover, .HoverableBlock:hover, .Index:hover, .IndexActive:hover, .Future:hover, .FutureActive:hover, .ETF:hover, .ETFActive:hover, .CryptocurrencyActive:hover, .Cryptocurrency:hover, .Equity:hover, .EquityActive:hover, .Trending .Title:hover {
  color: #fff;
  background-color: #402060;
}
.Hoverable:hover:before, .HoverableButton:hover:before, .HoverableBlock:hover:before, .Index:hover:before, .IndexActive:hover:before, .Future:hover:before, .FutureActive:hover:before, .ETF:hover:before, .ETFActive:hover:before, .CryptocurrencyActive:hover:before, .Cryptocurrency:hover:before, .Equity:hover:before, .EquityActive:hover:before, .Trending .Title:hover:before {
  width: 100%;
}

.Block, .Button, .HoverableButton, .HoverableBlock, .Index, .IndexActive, .Future, .FutureActive, .ETF, .ETFActive, .CryptocurrencyActive, .Cryptocurrency, .Equity, .EquityActive, .Trending .Title {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  margin-top: 1em;
  margin-bottom: 1em;
  transform: rotate(-8deg) skew(-8deg, -8deg) translateY(-0.85rem);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: fit-content;
  white-space: nowrap;
  border: 0;
  color: #000;
  font-family: "Doppio One", sans-serif;
  background-color: white;
  cursor: default;
}

.Button, .HoverableButton {
  cursor: pointer;
}

.HoverableButton:hover {
  color: inherit;
}
.HoverableButton:hover:before {
  width: inherit;
}
.HoverableButton:hover:enabled {
  color: #fff;
}
.HoverableButton:hover:enabled:before {
  width: 100%;
}
.HoverableButton:disabled {
  color: black;
  cursor: default;
}
.HoverableButton:disabled:after {
  background-color: grey;
}

.Trending .Quotes {
  margin-top: 50px;
}

.Equity:before, .EquityActive:before {
  background-color: #F2A413;
  width: 10px;
}
.Equity:after, .EquityActive:after {
  background-color: #F2A413;
  width: 10px;
}
.Equity:hover:after, .EquityActive:hover:after {
  background-color: #F2A413;
  transition-delay: 3s;
}

.EquityActive {
  background-color: #F2A413;
}
.EquityActive:before {
  background-color: #F2A413;
  width: 100%;
}
.EquityActive:after {
  background-color: #F2A413;
  width: 100%;
}

.Cryptocurrency:before {
  background-color: #722C73;
  width: 10px;
}
.Cryptocurrency:after {
  background-color: #722C73;
  width: 10px;
}
.Cryptocurrency:hover:after {
  background-color: #722C73;
  transition-delay: 3s;
}

.CryptocurrencyActive {
  background-color: #722C73;
}
.CryptocurrencyActive:before {
  background-color: #722C73;
  width: 100%;
}
.CryptocurrencyActive:after {
  background-color: #722C73;
  width: 100%;
}

.ETF:before, .ETFActive:before {
  background-color: #A6261B;
  width: 10px;
}
.ETF:after, .ETFActive:after {
  background-color: #A6261B;
  width: 10px;
}
.ETF:hover:after, .ETFActive:hover:after {
  background-color: #A6261B;
  transition-delay: 3s;
}

.ETFActive {
  background-color: #A6261B;
}
.ETFActive:before {
  background-color: #A6261B;
  width: 100%;
}
.ETFActive:after {
  background-color: #A6261B;
  width: 100%;
}

.Future:before, .FutureActive:before {
  background-color: green;
  width: 10px;
}
.Future:after, .FutureActive:after {
  background-color: green;
  width: 10px;
}
.Future:hover:after, .FutureActive:hover:after {
  background-color: green;
  transition-delay: 3s;
}

.FutureActive {
  background-color: green;
}
.FutureActive:before {
  background-color: green;
  width: 100%;
}
.FutureActive:after {
  background-color: green;
  width: 100%;
}

.Index:before, .IndexActive:before {
  background-color: blue;
  width: 10px;
}
.Index:after, .IndexActive:after {
  background-color: blue;
  width: 10px;
}
.Index:hover:after, .IndexActive:hover:after {
  background-color: blue;
  transition-delay: 3s;
}

.IndexActive {
  background-color: blue;
}
.IndexActive:before {
  background-color: blue;
  width: 100%;
}
.IndexActive:after {
  background-color: blue;
  width: 100%;
}

/*# sourceMappingURL=Trending.module.css.map */
