@import "../global.module";

.QuoteContainer {
  width: fit-content;
  margin: 1em auto;
}

.Search {
  display: inline-block;
  padding: .75rem 1.25rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 21rem;
  white-space: nowrap;
  cursor: pointer;
  border: 0;
  color: #000;
  font-family: 'Doppio One', sans-serif;
  outline: 0;

  :focus-visible {
    outline: 0;
  }

  input:focus-visible {
    outline: 0;
  }
}

.Submit {
  @extend .HoverableButton;
  cursor: pointer;
  background-color: $stok;

  &:after {
    background-color: $stok;
  }

  &:before {
    background-color: darken($stok, 5%);
  }
}

$clear: #ff4141;

.Clear {
  @extend .HoverableButton;
  cursor: pointer;
  background-color: $clear;
  letter-spacing: normal;

  &:after {
    background-color: $clear;
  }

  &:before {
    background-color: darken($clear, 5%);
  }
}
