@import "../global.module";

.Quote {
  margin-top: 100px;

  .Element {
    @extend .Block;
  }

  .Bright {
    @extend .Element;
    background-color: orange;
  }

  .Up {
    @extend .Element;
    background-color: lighten(green, 10%);
  }

  .Down {
    @extend .Element;
    background-color: darken(red, 10%);
  }
}
