@import "../global.module";

.Quote {
  width: 50%;
  margin: 0.25em auto;
  display: flex;
  justify-content: space-between;

  .Element {
    @extend .Block;

    &:not(:first-child) {
      margin-left: 0.25rem;
    }
  }

  .Bright {
    @extend .Element;
    background-color: orange;
  }

  .Up {
    @extend .Element;
    background-color: lighten(green, 10%);
  }

  .Down {
    @extend .Element;
    background-color: darken(red, 10%);
  }
}
