@import "../global.module";

.ToggleGroup {

  .Buttons {
    margin-top: 50px;

    .Button {
      @extend .HoverableBlock;
    }

    .Active {
      @extend .HoverableBlock;

      background-color: orange;

      &:before {
        background-color: darkorange;
      }
    }
  }
}
